::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(173, 173, 173) !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(173, 173, 173) !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(173, 173, 173) !important;
}

ant-dropdown-menu-item {
  margin-right: 0.5rem;
}

.dropdownMenu {
  width: 9.5rem;
}

.ant-dropdown-menu {
  overflow: hidden;
}

.loggedInText {
  margin: 0 1rem;
  color: white;
  cursor: pointer;
  max-width: 20rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.loggedInText:hover {
  color: #ccc;
}
