.issue-modal .ant-form-item-control-wrapper {
  width: 100% !important;
}

.issue-modal .ant-form-item-label {
  padding-bottom: 0.3rem;
}

.issue-modal .ant-upload {
  width: 100%;
}

.issue-modal .ant-select-dropdown-placement-topLeft {
  width: 455px !important;
  left: 0.5px !important;
  top: 36.5px !important;
}

.issue-modal .ant-calendar-picker-container-placement-topLeft,
.issue-modal .ant-calendar-picker-container-placement-bottomLeft {
  left: 0.5px !important;
  top: -2.51563px !important;
}

.priority .ant-form-item-children {
  display: flex;
  justify-content: flex-end;
}
