.react-reveal {
  display: flex;
  justify-content: center;
  z-index: 2;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-wrapper {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.landing-container {
  width: 100%;
  height: 32rem;
  background-color: #445d66;
  padding: 6rem 12rem 2rem 12rem;
}

.landing-flex-wrapper {
  display: flex;
  flex-direction: row;
}

.landing-container-one {
  flex: 1;
  padding: 0 2rem;
}

.landing-header {
  color: white;
  font-size: 3.3rem;
  font-weight: 500;
  max-width: 45rem;
  margin-bottom: 1rem;
}

.landing-subheader {
  color: #cdd6e4;
  font-size: 1.5rem;
  max-width: 45rem;
}

.landing-section-one {
  width: 100%;
  padding: 0 12rem;
  margin-top: -4rem;
  text-align: center;
}

.landing-section-header-one {
  font-size: 3rem;
  font-weight: 500;
  color: #0b254b;
}

.landing-plop-image-wrapper {
  width: 100%;
  padding: 0 12rem 12rem 12rem;
  text-align: center;
}

.landing-last-section {
  padding: 4rem 12rem 4rem 12rem;
  background-color: #fdfeff;
}

.landing-last-section-content {
  border: 1px solid #e8e8e8;
  border-radius: 10px;
  box-shadow: rgba(36, 37, 38, 0.08) 0px 6px 15px;
}

.landing-cloud-section {
  display: flex;
  background-image: url('/images/wallpaper.png');
  background-attachment: fixed;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 100rem;
}

.landing-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 6rem;
  padding: 0 12rem;
  background-color: #445d66;
  margin-top: 0;
}

.landing-footer-text {
  display: block;
}

@media only screen and (max-width: 1397px) {
  .landing-container {
    height: 50rem;
    padding: 6rem 6rem 2rem 6rem;
  }

  .landing-flex-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .landing-container-one {
    text-align: center;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 870px) {
  .landing-container {
    height: 50rem;
    padding: 2rem 1rem;
  }

  .landing-header {
    font-size: 2rem;
  }
  .landing-subheader {
    font-size: 1rem;
  }

  .ant-form.login-form {
    display: flex !important;
  }

  .landing-section-one {
    padding: 0 2rem;
    margin-top: -1rem;
  }

  .landing-plop-image-wrapper {
    padding: 0 2rem 2rem 2rem;
  }

  .landing-last-section {
    padding: 0;
  }

  .landing-last-section-content {
    border: none;
    box-shadow: none;
  }

  .landing-footer {
    flex-wrap: wrap;
    padding: 2rem;
  }

  .landing-footer-text {
    display: none;
  }

  .landing-cloud-section {
    height: 10rem;
    margin-top: -5rem;
  }

  .login-form-wrapper {
    margin-left: inherit;
  }
}
