<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Plop Server</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <div class="subtitle">
      <h3>Plop - Project Linker, Organizer, and Planner</h3>
      <p>Backend powered by <a href="https://adonisjs.com/docs" target="_blank">AdonisJS</a> (Node.js Framework)</p>
    </div>
  </section>
</body>
</html>